@cssPrefix: twl-list;

.@{cssPrefix} {
    &--container {
        box-sizing: border-box;
        position: relative;
        width: 80%;
        border: 1px solid #ebedf0;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 2%;
        margin-bottom: 2%;
    }
}

.ant-list {
    width: 100%;
}

.ant-list-item-meta {
    display: flex !important;
    align-items: center !important;
}
.ant-list-item-meta-avatar {
    display: block !important;
}

.ant-list-item-extra-wrap {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}

.ant-list-item-extra .twl-timeline-border {
    border: 1px solid #ebedf0;
    box-sizing: content-box;
    display: flex;
    padding: 4px 4px;
    border-radius: 4px;
}
